on:
  pull_request_target:
    types: [opened, edited, reopened]

jobs:
  verify:
    runs-on: ubuntu-latest
    name: verify PR contents
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Verifier action
      id: verifier
      uses: ./action-nightly
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
